h1{
  margin-left: 110px;
  margin-top: 30px;
}
h1:hover{
  color: rgb(255, 157, 0) ;
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
ul li a{
  height: 240px;
  width: 320px;
  border: 1px solid wheat;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #000;
  background-color: #a5989855;
}
li a:hover{
  opacity: 0.9;
  cursor: pointer;
}
.content{
  padding: .1rem 1rem;
  position: relative;
}
.name{
  font-size: large;
  text-decoration: none;
}

