<h1>Services </h1>

<div class="container" #container>
	<div class="left" *ngIf="totalPages > 1" (click)="currentPage != 1 && changePage(-1)" [ngClass]="{'disabled':currentPage === 1}"></div>
	<div class="cards" [ngClass]="{'w-100': totalPages === 1}">
		<a href="" routerLink="/Provider">
			<div class="overflow" [ngStyle]="{'width': overflowWidth, 'left': pagePosition}">
				<div class="card" *ngFor="let category of categories" [ngStyle]="{'width': cardWidth}">
					<span>{{category.Category}}</span>
				</div>
			</div>
		</a>
	</div>
	<div class="right" *ngIf="totalPages > 1" (click)="currentPage != totalPages && changePage(+1)"
		[ngClass]="{'disabled':currentPage === totalPages}"><i class="fa-solid fa-circle-chevron-right"></i>
	</div>
</div>