<div>
  <h1>Hi There!
      How are you Today ?
  </h1>
      <div class="homeParagraph1">
       Are you looking for a Doctor , Bank , Public  or Cosmetic Services ?
      </div>
      <div class="homeParagraph2">
        Reaching out <span>E-Secretary</span> , the           Right Place in  which you can Make an                 Appointment , through our <span>Service Providers Network</span> .
      </div>
      <div class="homeParagraph3">
        Select <i class='fas fa-arrow-circle-right fa-2x'></i>
        Click <i class='fas fa-arrow-circle-right fa-2x'></i>
        Confirm
      </div>
      <div class="homeParagraph4">
        It's as Simple as That !
     </div>
</div>

<app-category></app-category>
