<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>

<h1>Providers </h1>

<ul class="sc">
	<li *ngFor="let provider of providers.Providers">
		<div class="container" *ngIf="searchItem === '' || provider.Name.toLowerCase().includes(searchItem)">
			<a href="" routerLink="/Calendar">
				<img src="{{provider.ImgURL}}" style="height:12rem" alt="">
				<div class="content">
					<div class="name">
						{{provider.Name}}
					</div>
					<div class="provider">
						<div class="category">
							{{provider.Category}}
						</div>
					</div>
				</div>
			</a>
		</div>
	</li>
</ul>