    .content{
      background-color: rgb(255, 157, 0);
    }

    ul{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;
    }
    ul li a{
      height: 15rem;
      width: 20rem;
      border: 1px solid rgb(245, 245, 245);
      border-radius: 1rem;
      margin: 0.5rem;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      color: #000;
    }
    li a :hover{
      opacity: 0.9;
      cursor: pointer;
    }
    .content{
      padding: .1rem 1rem;
      position: relative;
    }
    .provider{
      color: #000;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .category{
      font-size: small;
    }

    h1:hover{
      color: rgb(255, 157, 0) ;
    }

    h1{
      text-align: center;
    }